header.header
    div.container
        nav.menu
            ul.menu-itens
                li.menu-item 
                    a.menu-link(href="#") Home
                li.menu-item 
                    a.menu-link(href="#") Perfil
        div.profile
            img.profile-img(src="./assets/images/profile.png", alt="Profile Image")
            span.profile-text Claudio Junior
